.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    height: fit-content;
}
h2{
    text-align: center;
    background-color: white;
    width: fit-content;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
}
hr {
    width: 75vw;
    margin: 2rem auto;
}
@media screen and (max-width: 770px) {
    .weather {
      scale: 0.85;
    }
    h2{
        margin: 18px auto;
    }
  }